{% extends "../base.html" %}

{% block content %}

<div class="ui container" style="margin-top: 2em">
    <h1 class="ui center aligned icon header">
        <i class="circular world icon"></i>
        The real world is calling
    </h1>
    <h2>
        Join a local group to meet people, try something new, or protest for what you love.
    </h2>

    <div class="ui form">
        <div class="three fields">
            <div class="field">
                <label>Looking for</label>
                <input type="text" placeholder="Event">
            </div>
            <div class="field">
                <label>In</label>
                <input type="text" placeholder="Düsseldorf">
            </div>
            <div class="field">
                <label>On</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="gender">
                    <i class="dropdown icon"></i>
                    <div class="default text">Bevorstehend</div>
                    <div class="menu">
                        <div class="item" data-value="today">Heute</div>
                        <div class="item" data-value="this_week">Diese Woche</div>
                        <div class="item" data-value="next_week">Nächste Woche</div>
                        <div class="item" data-value="this_month">Diesen Monat</div>
                        <div class="item" data-value="next_month">Nächsten Monat</div>
                        <div class="item" data-value="upcoming">Bevorstehend</div>
                    </div>
                </div>
            </div>
        </div>
        <button class="ui huge compact icon submit button">
            <i class="search icon"></i>
        </button>
    </div>
</div>

<br>

<div class="ui three column centered grid">
    <div class="three wide column"></div>
    <div class="ten wide column">
        <a class="ui green label">Fridays For Future</a>
        <a class="ui blue label">Save The Internet</a>
    </div>
    <div class="three wide column"></div>
</div>

<div class="ui divider"></div>

<div class="ui three column centered grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui cards">

            {% if latest_demos %}
            {% for demo in latest_demos %}
            <div class="card">
                <div class="content">
                    <a class="header" href="/demo/{{ demo.id }}/">{{ demo.title }}</a>
                    <div class="meta">
                        <span>{{demo.adress}}:</span>
                        <span>{{demo.starting_time}}</span>
                    </div>
                    <div class="description">
                        {{demo.description}}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}

        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script>
$(document)
    .ready(function() {

        // fix menu when passed
        $('.masthead')
            .visibility({
            once: false,
            onBottomPassed: function() {
                $('.fixed.menu').transition('fade in');
            },
            onBottomPassedReverse: function() {
                $('.fixed.menu').transition('fade out');
            }
        })
        ;

        // create sidebar and attach to menu open
        $('.ui.sidebar')
            .sidebar('attach events', '.toc.item')
        ;

        $('.selection.dropdown')
            .dropdown()
        ;

    })
;
</script>
{% endblock script %}

</body>

</html>
